body{
  margin:0;
  background-color: #1b3d81;
}
.maindiv{
  background-color: white;
  width:400px;
  height:420px;
  margin:auto;
  margin-top:50px;
  border-radius : 10px;
  font-family : 'Poppins' sans-serif;
  box-shadow: 5px 5px 15px -1px #473f41;
}

.mainform{

  max-height:500px;
  max-width:300px;
  padding: 11%;
  
}
.inputs{
  width : 300px;
  height:45px;
  margin-top:20px;
  border-radius : 8px;
  border : 1px solid black;
  padding-left:15px;
}
.checkbox{
  display: inline-flex;
  align-items: center;
 margin: 30px 0px 30px 0px;
 font-family : 'Karla' ,sans-serif;
 font-size:13px;
}
.submit{
  width:150px;
  height:40px;
  background-color: #1b3d81;
  border-radius: 5px;
  border :0px;
  font-weight :700;
  margin-left:25%;
  color : white;
}
/* .label{
  font-family : 'Karla', sans-serif;
} */